azure-identity
azure-mgmt-resourcegraph
azure-mgmt-resource
azure-mgmt-costmanagement

azure-mgmt-compute
azure-mgmt-web
azure-mgmt-sql
azure-mgmt-storage
azure-mgmt-rdbms
azure-mgmt-keyvault
azure-mgmt-appcontainers
azure-mgmt-servicebus

pydantic
pydantic-settings
pandas
openpyxl
PyYAML
python-dateutil
tenacity
requests